@model IEnumerable<HotelMVC.Models.Amenities>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <img id="homeImage" href="https://static.pexels.com/photos/119657/pexels-photo-119657.jpeg" alt="batezzzzz" />
</div>

<ul class="amenities">
    @foreach (var amenity in Model)
    {
        <li>@amenity.Name</li>
    }    
</ul>